/* @import '../../../node_modules/bootstrap/dist/css/bootstrap.css'; */

mat-expansion-panel {
  margin-top: 15px;
  margin-bottom: 0;
  width: 550px;
  display: inline-block;
  text-align: left;
}

.main-class{
  text-align: center;
}

input[type="file"] {
  visibility: hidden;
}
mat-form-field {
  width: 100%;
}

.cc{
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}

.paginator {
  
}