.main {
    background-color: #F2F3F4; 
    height: 100%;
}

.container {
    display: flex;
    flex-direction: row;
}

.title {
    padding-top: 40px;
    text-align: center;
}
  
  mat-card {
    margin: auto;
    padding: 50px 50px;
    width: 300px;
    height: 400px;
    margin-top: 10px;
    border-radius: 10% 0 10% 0;
  }
  
  .image {
    width: 400px;
    height: 500px;
    background-image: url(../../assets/images/signup.png);
    background-repeat: no-repeat;
    margin-left: 250px;
    margin-top: 80px;
    /* background-repeat: no-repeat; */
  }
  
  /* .form {
    width: 00px;
    margin: 50px 50px;
  } */
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input, 
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px #ddd solid;
    background-color: #F2F3F4;
  }
  
  input:focus, 
  textarea:focus {
    outline: none;
    border-color: #f7c08a;
    background-color: #fff;
  }
  
  .btn-primary {
    color: greenyellow;
    width: 100%;
  }

  .signin {
      text-align: center;
  }
  
  h2 {
    font-size: 29px;
      font-weight: 500;
  }

  a {
    color: blue;
    cursor: pointer;
  }